/MAIN/.vs
/MAIN/__vm
/MAIN/MAIN.sln
/MAIN/MAIN.vcxproj
/MAIN/MAIN.vcxproj.filters
/MAIN/Debug

*.pdb

/TMP/*

/Proteus/Proteus_temperature_SAMD21G_01.PDF
/Proteus/Proteus_temperature_SAMD21J_01.PDF
/MAIN/libraries/TTP229
/MAIN/libraries/TTP229.rar
/MAIN/MAIN.vcxproj.user
/MAIN/Release
