/MAIN/.vs
/MAIN/__vm
/MAIN/MAIN.sln
/MAIN/MAIN.vcxproj
/MAIN/MAIN.vcxproj.filters
/MAIN/Debug

*.pdb

/TMP/*

/Proteus/Proteus_temperature_SAMD21G_01.PDF
/Proteus/Proteus_temperature_SAMD21J_01.PDF
/MAIN/libraries/TTP229
/MAIN/libraries/TTP229.rar
/MAIN/MAIN.vcxproj.user
/MAIN/Release
/Proteus/Backup Of Proteus_temperature_SAMD21G_01.pdsbak
/Proteus/Backup Of Proteus_temperature_SAMD21G_01_1.pdsbak
/Proteus/Backup Of Proteus_temperature_SAMD21G_02.pdsbak
/Proteus/Backup Of Proteus_temperature_SAMD21G_03.pdsbak
/Proteus/Backup Of Proteus_temperature_SAMD21G_03A.pdsbak
/Proteus/Backup Of Proteus_temperature_SAMD21J_01.pdsbak
/Proteus/Backup Of Proteus_temperature_SAMD21J_02.pdsbak
/Proteus/Last Loaded Proteus_temperature_SAMD21G_01.pdsbak
/Proteus/Last Loaded Proteus_temperature_SAMD21G_02.pdsbak
/Proteus/Last Loaded Proteus_temperature_SAMD21G_03.pdsbak
/Proteus/Last Loaded Proteus_temperature_SAMD21G_03A.pdsbak
/Proteus/Last Loaded Proteus_temperature_SAMD21J_01.pdsbak
/Proteus/Proteus_temperature_SAMD21G_01.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Proteus_temperature_SAMD21G_01.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21G_01_1.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21G_02.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21G_03.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21G_03A.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Proteus_temperature_SAMD21G_03A.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21J_01.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Proteus_temperature_SAMD21J_01.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21J_02.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21J_01.pdsprj
/Proteus/Proteus_temperature_SAMD21J_01.pdsprj.SUPER.Александр.workspace
/Proteus/Proteus_temperature_SAMD21J_01.pdsprj.SUPER.Александр.workspace
/Test_tracker
/DOC/Adafruit_DAP-master.zip
/DOC/Adafruit_Si7021-master.zip
/DOC/Adafruit-MCP23017-Arduino-Library-master.zip
/DOC/RGB_32x64_Mega2560_WEB_01.rar
/Proteus/Backup Of Proteus_temperature_SAMD21G_03CR.pdsbak
/Proteus/Proteus_temperature_SAMD21G_03CR.pdsprj.SUPER.Александр.workspace
/USB_Host_SAMD21_desc/.vs
/USB_Host_SAMD21_desc/__vm
/USB_Host_SAMD21_desc/Release
/USB_Host_SAMD21_desc/USB_Host_SAMD21_desc.sln
/USB_Host_SAMD21_desc/USB_Host_SAMD21_desc.vcxproj
/USB_Host_SAMD21_desc/USB_Host_SAMD21_desc.vcxproj.filters
/Test_WiFi
/MAIN_Test
/NokiaRusTest2
/Test_tracker
/Tracker_test_Ver1
/USB_Host_SAMD21
